<% if not @pushes_scores_friends.empty? %>
  <div id="friends">
    <div class="scores-title">
      <%= _("Friends") %>
    </div>
    <div id="score-friends">
      <%= render @pushes_scores_friends %>

      <% more_scores_count = @level.friends_scores_count(current_user) - @pushes_scores_friends.count %>
      <% style = more_scores_count == 0 ? 'display:none' : '' %>

      <div id="more-friend-score" class="scores-more" style="<%= style %>" data-page="<%= (@pushes_scores_friends.count-1) / 6 + 1 %>">
        <%= more_scores_count %>
      </div>
    </div>
  </div>
  <div class="large-shad friends-large-shad">
    &nbsp;
  </div>
<% end %>

<div id="all">
  <div class="scores-title">
    <%= _("All") %>
  </div>
  <div id="score-all">
    <%= render @pushes_scores %>

    <% more_scores_count = @level.won_count - @pushes_scores.count %>
    <% style = more_scores_count == 0 ? 'display:none' : '' %>

    <div id="more-global-score" class="scores-more" style="<%= style %>" data-page="<%= (@pushes_scores.count-1) / 6 + 1 %>">
      <%= more_scores_count %>
    </div>
  </div>
</div>
<div class="large-shad">
  &nbsp;
</div>

<% if false %>
  <div id="facebook-comments" class="fb-comments" data-href="<%= pack_level_url(@pack, @level) %>" data-width="596" data-num-posts="10">
  </div>
<% end %>

