<div id="users">
  <div id="friends">
    <div class="scores-title">
      Friends
    </div>
    <div id="score-friends">
      <% if current_user %>
        <%= render @pushes_scores_friends %>

        <% more_scores_count = @level.unique_friends_scores_count(current_user) - @pushes_scores_friends.count %>
        <% style = more_scores_count == 0 ? 'display:none' : '' %>

        <div id="more-friend-score" class="scores-more" style="<%= style %>" data-page="<%= (@pushes_scores_friends.count-1) / 8 + 1 %>">
          <a href="#">More</a>
        </div>
      <% else %>
        <div class="scores-login">
          <%= link_to image_tag("facebook-connect-banner.gif"), '/auth/facebook' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="large-shad">
    &nbsp;
  </div>

  <div id="all">
    <div class="scores-title">
      All
    </div>
    <div id="score-all">
      <%= render @pushes_scores %>

      <% more_scores_count = @level.unique_scores_count - @pushes_scores.count %>
      <% style = more_scores_count == 0 ? 'display:none' : '' %>

      <div id="more-global-score" class="scores-more" style="<%= style %>" data-page="<%= (@pushes_scores.count-1) / 8 + 1 %>">
        <a href="#">More</a>
      </div>
    </div>
  </div>
  <div class="large-shad">
    &nbsp;
  </div>
</div>

