<% user_picture = (level_user_link.user_id ? level_user_link.user.profile_picture : 'default_user.gif' )%>
<% user_link = (level_user_link.user_id ? level_user_link.user.f_link : '#') %>

<% is_friend = current_user && level_user_link.user_id ? current_user.friends.registred.pluck('users.id').include?(level_user_link.user.id) : false %>

<div class="score-item tips" data-id="<%= level_user_link.user ? level_user_link.user.id : '' %>" data-f_id="<%= level_user_link.user.f_id if level_user_link.user %>" data-is-friend="<%= is_friend %>" title="<%= level_user_link.user ? "#{level_user_link.user.total_won_levels} levels completed" : "Anonymous score" %>" data-score-worse="<%= level_user_link.worse %>">
  <div class="score-picture">
    <%= link_to image_tag(user_picture, :title => level_user_link.user_name), user_link %>
  </div>
  <div class="score-name">
    <%= link_to level_user_link.user_name, user_link, :title => level_user_link.user_name %>
  </div>
  <div class="score-pushes">
    <p><strong><%= level_user_link.pushes %></strong> pushes (<%= level_user_link.moves %>)</p>
  </div>
  <div class="brag">
    <span class="brag-button">
      <i class="icon-bullhorn"></i>&nbsp;&nbsp;Brag!
    </span>
  </div>
</div>
