<% user_picture = (level_user_link.user_id ? level_user_link.user.profile_picture : 'default_user.gif' )%>
<% is_friend = current_user && level_user_link.user_id ? current_user.friends.registered.pluck('users.id').include?(level_user_link.user.id) : false %>

<a class="score-item-a" href="<%= user_path(level_user_link.user) if level_user_link.user %>">
  <div class="score-item tips" data-id=         "<%= level_user_link.user ? level_user_link.user.id : '' %>"
                               data-f_id=       "<%= level_user_link.user.f_id if level_user_link.user %>"
                               data-is-friend=  "<%= is_friend %>"
                               title=           "<%= level_user_link.user ? "#{level_user_link.user.total_won_levels} solved levels" : "" %>"
                               data-score-worse="<%= level_user_link.worse %>">
    <div class="score-picture">
      <%= image_tag(user_picture, :title => level_user_link.user_name) %>
    </div>
    <div class="score-name">
      <%= level_user_link.user_name %>
    </div>
    <div class="score-pushes">
      <p><strong><%= level_user_link.pushes %></strong> <%= _("pushes") %> (<%= level_user_link.moves %>)</p>
    </div>
    <a class="brag">
      <span class="brag-button">
        <i class="icon-bullhorn"></i>&nbsp;&nbsp;<%= _("Brag!") %>
      </span>
    </a>
  </div>
</a>
