<%= javascript_include_tag "workflows" %>

<div id="game-won">
  <div class="game-won-in">
    <div class="game-won-in-left">
      <h3>Level successfully completed!</h3>
      <div id="final-score" class="score">
        <div class="score-pushes"> <span class="num"><%= @score.pushes %></span><br/>pushes</div>
        <div class="score-moves"> <span class="num"><%= @score.moves %></span><br/>moves</div>
      </div>

      <% @ladder.each do |score| %>
        <div class="final-score-item tips-left" data-id="<%= score.user ? score.user.id : '' %>" data-f_id="<%= score.user ? score.user.f_id : '' %>" title="<%= "#{score.user.total_won_levels} levels completed" %>" data-score-worse="<%= score.worse %>">
          <div class="score-position"><%= score.position %></div>
          <div class="score-picture">
            <%= link_to image_tag(score.user.profile_picture, :width => '50px'), score.user.f_link %>
          </div>
          <div class="score-name">
            <%= link_to score.user.name, score.user.f_link, :title => score.user.name %>
          </div>
          <div class="score-pushes">
            <p><strong><%= score.pushes %></strong> pushes (<%= score.moves %>)</p>
          </div>
          <div id="brag">
            <span class="brag-button">
              <i class="icon-bullhorn"></i>&nbsp;&nbsp;Brag!
            </span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="game-won-in-right">
      <div class="game-catch">

      </div>

      <div class="this-level" title="Retry this level : <%= @level.name %>" data-level-name="<%= @level.name %>" data-level-grid="<%= @level.inline_grid_with_floor %>" data-level-width="<%= @level.width %>" data-level-height="<%= @level.height %>">
        <div id="this-level-canvas"></div>
      </div>

      <ul class="game-actions">
        <li class="game-action-retry" title="Retry this level : <%= @level.name %>"><a href="#">Retry</a></li>
        <li class="game-action-next" title="Go to next level : <%= @next_level.name %>"><a href="#">Next</a></li>
      </ul>

      <div class="next-level" title="Go to next level : <%= @next_level.name %>" data-level-name="<%= @next_level.name %>" data-level-grid="<%= @next_level.inline_grid_with_floor %>" data-level-width="<%= @next_level.width %>" data-level-height="<%= @next_level.height %>">
        <div id="next-level-canvas"></div>
      </div>
    </div>
  </div>
  <div style="clear:both">
  </div>
</div>
