<%= javascript_include_tag "workflows" %>

<div id="controls">
  <div class="title">
    <%= _("Controls") %>
  </div>

  <div class="sub-title">
    <%= _("I like to move it move it !") %>
  </div>

  <div class="images">
    <table>
      <tr>
        <td class="keyboard">
          <%= image_tag "arrow_keys.png" %>
        </td>
        <td class="arrow"><i class="icon-arrow-right"></i></td>
        <td class="level">
          <table class="pusher">
            <tr>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
            </tr>
            <tr>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td class="up"><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
            </tr>
            <tr>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td class="left"><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td class="middle"><%= image_tag "/images/themes/classic/pusher64.png" %></td>
              <td class="right"><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
            </tr>
            <tr>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td class="down"><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td><%= image_tag "/images/themes/classic/floor64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
            </tr>
            <tr>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
              <td><%= image_tag "/images/themes/classic/wall64.png" %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div class="buttons">
    <ul>
      <li class="button-next"><i class="icon-forward"></i>&nbsp;Next</li>
    </ul>
    <span>
      <%= _("Use the arrow keys to move the Sokoban one step <em>up</em>, <em>down</em>, <em>left</em> or <em>right</em>.") %>
    </span>
    <div style="clear:both"></div>
  </div>
</div>
