<%= javascript_include_tag "workflows" %>

<div id="welcome">
  <div class="title">
    <%= _("Welcome to Sokoban") %>
  </div>

  <div class="sub-title">
    <%= _("The addictive Puzzle-Game made Social") %>
  </div>

  <div class="description-bar">
    <%= _("PLAY SOKOBAN AND CHALLENGE YOUR FRIENDS") %>
  </div>

  <div class="image">
    <table>
      <tr>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
      </tr>
      <tr>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/pusher64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/box64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/goal64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
      </tr>
      <tr>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
        <td><%= image_tag "/assets/themes/classic/wall64.png" %></td>
      </tr>
    </table>
  </div>

  <div class="buttons">
    <ul>
      <li class="button-next"><i class="icon-forward"></i>&nbsp;<%= _("Next") %></li>
    </ul>
    <span>
      <%= _("Sokoban (倉庫番) is Japanese for <em>warehouse keeper</em>.") %>
    </span>
    <div style="clear:both"></div>
  </div>
</div>
