<%= javascript_include_tag "workflows" %>

<div id="welcome">
  <div class="title">
    Welcome to Sokoban.be
  </div>
    
  <div class="sub-title">
    The Puzzle-Game made Social
  </div>
    
  <div class="description-bar">
    PLAY SOKOBAN AND CHALLENGE YOUR FRIENDS
  </div>
  
  <div class="image">
    <table>
      <tr>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
      </tr>
      <tr>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/pusher64.png" %></td>
        <td><%= image_tag "/images/box64.png" %></td>
        <td><%= image_tag "/images/goal64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
      </tr>
      <tr>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
        <td><%= image_tag "/images/wall64.png" %></td>
      </tr>
    </table>
  </div>
  
  <div class="buttons">
    <ul>        
      <li class="button-how-to-play"><i class="icon-book"></i>&nbsp;How to Play</li>
      <li class="button-play"><i class="icon-play"></i>&nbsp;Play</li>
    </ul>
    <div style="clear:both"></div>
  </div>
</div>
