<%= javascript_include_tag "workflows" %>

<div id="rules">
  <div class="title">
    <%= _("Rules") %>
  </div>

  <div class="sub-title">
    <%= _("The rules are VERY simple!") %>
  </div>

  <div class="levels">
    <table>
      <tr>
        <td class="rules-level1" data-level-grid="<%= @grid1 %>" data-level-width="<%= @level.width %>" data-level-height="<%= @level.height %>">
          <div id="rules-level1-canvas">
          </div>
        </td>
        <td class="arrow"><i class="icon-arrow-right"></i></td>
        <td class="rules-level2" data-level-grid="<%= @grid2 %>" data-level-width="<%= @level.width %>" data-level-height="<%= @level.height %>">
          <div id="rules-level2-canvas">
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="buttons">
    <ul>
      <li class="button-next"><i class="icon-forward"></i>&nbsp;<%= _("Start") %></li>
    </ul>
    <span>
      <%= _("The Sokoban can only push one box at a time and is not able to pull them. A level is solved when each box is on a goal.") %>
    </span>
    <div style="clear:both"></div>
  </div>
</div>
