<%= javascript_include_tag "workflows" %>

<div id="random-level">
  <div class="title">
    <%= _("Can you solve this level?") %>
  </div>

  <div class="random-level tips" title="<%= _("Try this level") %>" data-id           = "<%= @level.id %>"
                                                                    data-level-grid   = "<%= @level.inline_grid_with_floor %>"
                                                                    data-level-width  = "<%= @level.width %>"
                                                                    data-level-height = "<%= @level.height %>"
                                                                    data-level-slug   = "<%= @level.slug %>"
                                                                    data-pack-slug    = "<%= @level.pack.slug %>">
    <div id="random-level-canvas">
    </div>
  </div>

  <div id="completed-friends">
    <div id="completed-friends-in">
      <% friend_names = @level.friends_scores_names(current_user).shuffle if current_user %>
      <% all_names    = @level.all_scores_names.shuffle %>

      <% if not current_user or friend_names.count == 0 %>
        <% if all_names.count == 0 %>
          <%= _("This level has not yet been solved.") %>
        <% elsif all_names.count == 1 %>
          <%= _('This level has been solved by <span class="tips" title="%{list_of_people}">one person</span>.' %
                { :list_of_people => all_names.to_sentence } ) %>
        <% else %>
          <%= _('This level has been solved by <span class="tips" title="%{list_of_people}">%{count_of_people} people</span>.' %
                { :list_of_people  => all_names.to_sentence,
                  :count_of_people => all_names.count } ) %>
        <% end %>
      <% else %>
        <% if friend_names.count <= 5 %>
          <%= _("This level has been solved by %{list_of_people}" %
                { :list_of_people => friend_names.to_sentence } ) %>
        <% else %>
          <%= _('This level has been solved by %{list_of_people} and <span class="tips" title="%{list_of_more_people}">%{count_of_people} other friends</span>.' %
                { :list_of_people      => friend_names.take(5).join(', '),
                  :list_of_more_people => friend_names.drop(5).to_sentence,
                  :count_of_people     => friend_names.count - 5 } ) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="challenge-buttons">
    <div class="reload-button">
      <a href="#"><%= _("Another Challenge") %></a>
    </div>

    <div class="later-button">
      <a href="#"><%= _("Later") %></a>
    </div>
  </div>
</div>
