<%= javascript_include_tag "workflows" %>

<div id="donation-page">
  <div class="title">
    <%= _("Unlock the Full Game") %>
  </div>

  <div class="sub-title">
    <%= _("No more ads, no more invitation popups") %>
  </div>

  <div class="content">
    <a href="https://www.facebook.com/michael.hoste">
      <img src="/assets/me.jpg"/>
    </a>

    <p>
      <%= _("Hi, I'm <a href=\"https://www.facebook.com/michael.hoste\">Michaël Hoste</a>, a guy from Belgium who likes to play Sokoban.") %>
    </p>

    <br/>

    <p>
      <%= _("I like it so much that:") %>
      <ul class="list1">
        <li><%= _("I've written a <a href=\"http://www.opengl.fr/memoire/Memoire/Memoire.pdf\">Master Thesis</a> on the subject (french)</li>") %>
        <li><%= _("I've created this <a href=\"https://github.com/MichaelHoste/sokoban\">OPEN-SOURCE</a> (<a href=\"http://en.wikipedia.org/wiki/MIT_License\">MIT License</a>) game on my spare time.</li>") %>
      </ul>
    </p>

    <br/>

    <p>
      <%= _("I also like to drink beers ! (I'm from Belgium, remember?)") %>
    </p>

    <br/>

    <p>
      <%= _("If you want to support me, and get rid of the advertisements, there are 2 solutions:") %>
    </p>

    <table>
      <tr>
        <td class="left">
          <span class="table-title"><%= _("Offer me a beer!") %></span><br/>
          <%= _("(no more ads / popups)") %>
          <br/><br><br/><br/>

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAifWfuUdqBxDe8Ex5nQM0pFgiReW7mej7scdujajqZ43RY7D9kd++dXnK3fO5rT5IVKmPzKzOujX6D35fNnUL6rrrnc1p66L9HlrFSObsVNgxRxTez7CLU/5gTY+Vn5FgnDSY6J7gO7yHCl3vgixSDVPe+w3Pzx2R8z0w/n10TCTELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI9tPclTag+wuAgZDYUL/YSeNqxFqazKpKz34Lz5pA2k7QNoKy4+kyJ5Skw4pDEKTK+XdvK36GI7MYnnc5hQLW+SXgBb2ABaXUugTkgoFO5ccnFQefaS5CC1bVJvduqPw9acUCfk/V8+RcRtTL3bSCGenX4jFCfiS8qsoZjbBU05WY83rql15uEch6gS5IYEnSK5W/tkD12ILemCqgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMzA0MTgxNDM3NTVaMCMGCSqGSIb3DQEJBDEWBBQID5aGF4o+cpqpKttfwXL0RngDxjANBgkqhkiG9w0BAQEFAASBgGiHuz/4znUCRuIBLE3yrEriLz68r1CRFJEpBIGznE4kCGnztshjIkEbufmuwr3paj+Nqh6Pf77Ne1YmCfHI8cPmMxZtCXBIdM5VIat/mUcrEhuDXvJUDDIczoBtdURZYyHHemyuxO6LHBVFfp8Hl+dgZ0csO7pr/Q+8tOh3rht1-----END PKCS7-----
            ">
            <input type="image" src="https://www.paypalobjects.com/en_US/BE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

          <br/>
          <%= _("A beer only costs 2€ at <a href=\"https://www.facebook.com/pages/La-Paile-dOr/137863449611682\">my favorite bar</a>.") %>
        </td>

        <td>
          <span class="table-title"><%= _("Invite some friends") %></span><br/>
          <%= _("(7 days without ads / popups)") %>
          <br/>

          <div class="ways">
            <%= _("Several ways:") %><br/><br/>
            <img src="/assets/add_wall.png"><a class="wall" href="#"><%= _("Post on your wall") %></a><br/>
            <img src="/assets/add_friends.png"><a class="all" href="#"><%= _("Invite all your friends") %></a><br/>
            <img src="/assets/add_friends.png"><a class="some" href="#"><%= _("Invite some of your friends") %></a><br/>
            <img src="/assets/add_friend.png"><a class="custom" href="#"><%= _("Custom friend invitation") %></a><br/>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="buttons">
    <ul>
      <li class="button-next"><i class="icon-forward"></i>&nbsp;<%= _("Later") %></li>
    </ul>
    <span>
    </span>
    <div style="clear:both"></div>
  </div>
</div>
