<html>
<body>
<div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0">
  <table cellspacing="0" align="center" style="margin-right:auto;border-spacing:0;border-collapse:collapse;width:590px;background:none;margin-left:auto;margin-bottom:0;border-color:#aed8f2!important;margin-top:0;border:1px solid #efefef" width="590" cellpadding="0">
  <tbody>
  <tr>
    <td style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
      <table cellspacing="0" align="center" style="background:none;border-collapse:collapse;border-spacing:0;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="590" cellpadding="0">
      <tbody>
      <tr>
        <td style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
          <a href="<%= pack_level_url(@level.pack, @level) %>" style="color:#3693cc!important" target="_blank">
          <img src="http://sokoban-game.com/assets/banner.png" height="110" alt="banner" style="border:0" width="590">
          </a>
        </td>
      </tr>
      </tbody>
      </table>
      <table cellspacing="0" align="center" style="background:none;border-collapse:collapse;border-spacing:0;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="590" cellpadding="0">
      <tbody>
      <tr valign="top">
        <td style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:8px 18px 8px 18px" width="566">
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                  <h2 style="color:#333333!important;font-family:Georgia;font-size:30px;font-weight:bold;line-height:1.2em;margin-bottom:10px;margin-left:0;margin-right:0;margin-top:10px;padding:0">
                  <span>
                  Sokoban - <%= @text %></span>
                  </h2>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <table height="310" align="left" width="270" style="border:1px solid #ffffff;border-collapse:collapse;border-spacing:0;float:left;margin:0">
                <tbody>
                <tr>
                  <td align="left" style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                    <div style="float:left;margin-bottom:15px;margin-left:0;margin-right:20px;margin-top:4px;padding:0;text-align:center">
                      <a href="<%= pack_level_url(@level.pack, @level) %>" style="color:#3693cc!important;text-decoration:none" target="_blank">
                        <img src="<%= @level.thumb %>" alt="Miniature du niveau" style="border:0;margin-bottom:12px" width="250">
                        <span style="text-align:center;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top;padding-top:10px;font-weight:bold">
                          Can you solve it too? Click here!
                        </span>
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
                </table>
                <div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                  <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">
                    Hi <%= @user.f_first_name %>,
                  </p>
                  <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">
                    <a href="http://sokoban-game.com" style="color:#3693cc!important;text-decoration:underline" target="_blank">sokoban-game.com</a> is a <strong style="font-style:normal;font-weight:bold">free puzzle-game</strong> where a level is solved when you've pushed all the boxes on their goals.
                  </p>
                  <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">
                    Currently, there are <strong style="font-style:normal;font-weight:bold"><%= User.registered.count %></strong> registered members on Sokoban and <strong style="font-style:normal;font-weight:bold"><%= LevelUserLink.count %></strong> levels have been solved. Keep doing the good work :-)
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center">
                  <img src="http://sokoban-game.com/assets/divider.png" alt="***" style="border:0">
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                  <p style="text-align:center;font-weight:bold;color:#222222!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">
                    Friends ranking (<%= @ladder[:top_friends_position] %>/<%= @ladder[:top_friends].count %>)
                  </p>
                  <table style="margin-left:30px;margin-bottom:15px">
                    <% @ladder[:top_friends].take(50).each_with_index do |user, i| %>
                      <tr style="<%= 'background-color:#d7e8f0' if user.id == @user.id %>">
                        <td style="padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <%= i+1 %>
                        </td>
                        <td style="padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <a href="<%= user_url(user) %>" style="color:#3693cc!important" target="_blank">
                            <img src="<%= user.profile_picture %>"/>
                          </a>
                        </td>
                        <td style="width:220px;padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <a href="<%= user_url(user) %>" style="color:#3693cc!important;text-decoration:none;font-weight:bold" target="_blank">
                            <%= user.name %>
                          </a>
                        </td>
                        <td style="padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <span style="font-weight:bold"><%= user.total_won_levels %></span> solved levels
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center">
                  <img src="http://sokoban-game.com/assets/divider.png" alt="***" style="border:0">
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                  <p style="text-align:center;font-weight:bold;color:#222222!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">
                    Global ranking (<%= @ladder[:top_users_position] %>/<%= User.registered.count %>)
                  </p>
                  <table style="margin-left:30px;margin-bottom:15px">
                    <% @ladder[:top_users].limit(10).each_with_index do |user, i| %>
                      <tr style="<%= 'background-color:#d7e8f0' if user.id == @user.id %>">
                        <td style="padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <%= i+1 %>
                        </td>
                        <td style="padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <a href="<%= user_url(user) %>" style="color:#3693cc!important" target="_blank">
                            <img src="<%= user.profile_picture %>"/>
                          </a>
                        </td>
                        <td style="width:220px;padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <a href="<%= user_url(user) %>" style="color:#3693cc!important;text-decoration:none;font-weight:bold" target="_blank">
                            <%= user.name %>
                          </a>
                        </td>
                        <td style="padding-left:10px;padding-right:10px;color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;">
                          <span style="font-weight:bold"><%= user.total_won_levels %></span> solved levels
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center">
                  <img src="http://sokoban-game.com/assets/divider.png" alt="***" style="border:0">
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                  <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;text-align:center;vertical-align:top">
                    <strong style="font-style:normal;font-weight:bold">Come and play Sokoban on</strong>
                  </p>
                  <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;text-align:center;vertical-align:top">
                    <strong style="font-style:normal;font-weight:bold"><a href="https://sokoban-game.com" style="color:#3693cc!important;text-decoration:underline" target="_blank">https://sokoban-game.com</a></strong>
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center">
                  <img src="http://sokoban-game.com/assets/divider.png" alt="***" style="border:0">
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
          <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
            <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554">
            <tbody>
            <tr>
              <td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554">
                <table align="center" style="border-collapse:collapse;border-spacing:0;margin:auto" width="400">
                <tbody>
                <tr>
                  <td valign="top" style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                    <div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;text-align:center">
                      <a href="https://www.facebook.com/sokoban.game" style="color:#3693cc!important" target="_blank"><img src="http://sokoban-game.com/assets/Facebooklike.png" height="152" alt="Facebooklike" style="border:0" width="400"></a>
                    </div>
                  </td>
                </tr>
                </tbody>
                </table>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
      </table>
      <table cellspacing="0" style="background:none;border-collapse:collapse;border-spacing:0;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="590" cellpadding="0">
      <tbody>
      <tr>
        <td style="background-color:#ffffff;color:#222;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;font-size:11px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:10px;text-align:left" width="590">
          <div style="color:#999999!important;font-family:Helvetica;font-size:13px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
             ©<%= Date.today.year %> <a style="color:#333333!important;text-decoration:none" href="http://80limit.com">80LIMIT SPRL</a>
          </div>
        </td>
      </tr>
      </tbody>
      </table>
    </td>
  </tr>
  </tbody>
  </table>
</div>
<div style="text-align:center">
  <table align="center" style="margin-left:auto;margin-right:auto;margin-top:10px;width:598px">
  <tbody>
  <tr>
    <td style="color:#999999!important;font-family:Helvetica;font-size:13px">
      <table style="text-align:center;width:592px;font-size:11px;border-color:#aed8f2!important;margin:auto;min-height:auto">
      <tbody>
      <tr>
        <td style="color:#999999!important;font-family:Helvetica;font-size:13px;padding:8px!important">
          <span>This email was sent to <a style="color:#999999!important;font-family:Helvetica;font-size:13px;text-decoration:underline"><%= @user.email %></a>. </span>
          <span>To ensure that you continue receiving our emails, please add us to your address book or safe list.</span>
          <br>
          <a href="https://sokoban-game.com/users/<%= @user.id %>/unsubscribe_from_mailing?check=<%= @user.created_at.to_i %>" style="color:#999999!important;font-family:Helvetica;font-size:13px;font-weight:bold;text-decoration:underline" target="_blank">Unsubscribe</a>
        </td>
      </tr>
      </tbody>
      </table>
    </td>
  </tr>
  </tbody>
  </table>
</div>
</body>
</html>
