<%= javascript_include_tag 'users/index' %>

<div id="limited-content">

  <% if current_user %>
    <% friends_selected = params[:type] == 'friends' ? 'selected' : '' %>
    <% global_selected  = params[:type] == 'global'  ? 'selected' : '' %>

    <div id="ranking-buttons">
      <a class="<%= friends_selected %>" href="<%= friends_ranking_path %>"><%= _('Friends') %></a>
      <a class="<%= global_selected %>" href="<%= rankings_path %>"><%= _('Global') %></a>
    </div>

    <div style="clear:both">
    </div>
  <% end %>

  <table id="ladder">
    <% list = params[:type] == 'global' ? @ladder[:top_users] : @ladder[:top_friends] %>
    <% list.each_with_index do |user, i| %>
      <tr class="<%= 'selected' if current_user and user.id == current_user.id %>">
        <td class="num">
          <%= i+1 %>
        </td>
        <td class="picture">
          <%= link_to image_tag(user.profile_picture), user_path(user), :alt => user.name %>
        </td>
        <td class="name">
          <%= user.name %>
        </td>
        <td class="score">
          <%= _("<span>%{num}</span> solved levels" % { :num => user.total_won_levels }) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
