<%= javascript_include_tag 'users/index' %>

<div id="limited-content">

  <% if current_user %>
    <div id="ranking-buttons">
      <a href="<%= friends_ranking_path %>"><%= _('Friends') %></a>
      <a href="<%= rankings_path %>"><%= _('Global') %></a>
    </div>

    <div style="clear:both">
    </div>
  <% end %>

  <table id="ladder">
    <% list = params[:type] == 'global' ? @ladder[:top_users] : @ladder[:top_friends] %>
    <% list.each_with_index do |user, i| %>
      <tr class="<%= 'selected' if current_user and user.id == current_user.id %>">
        <td class="num">
          <%= i+1 %>
        </td>
        <td class="picture">
          <img src="<%= user.profile_picture %>"/>
        </td>
        <td class="name">
          <%= user.name %>
        </td>
        <td class="score">
          <%= _("<span>%{num}</span> solved levels" % { :num => user.total_won_levels }) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
