<div id="limited-content">
  <div id="left-side">
    <% if @user.id == current_user.id %>
      <%= link_to image_tag(@user.profile_picture(@current_user_fb_graph, 274), :class => 'profile', :alt => @user.name, :title => @user.name), user_path(@user) %>
    <% else %>
      <%= link_to image_tag(@user.profile_picture(nil, 274), :class => 'profile', :alt => @user.name, :title => @user.name), user_path(@user) %>
    <% end %>

    <table class="stats">
      <tr>
        <td class="first"><%= _('Levels solved') %></td>
        <td class="second"><%= @user.total_won_levels %></td>
      </tr>
      <tr>
        <td class="first"><%= _("Friends ranking") %></td>
        <td class="second"><%= @ladder[:top_friends_position] %> on <%= @ladder[:top_friends].count %></td>
      </tr>
      <tr>
        <td class="first"><%= _("Global ranking") %></td>
        <td class="second"><%= @ladder[:top_users_position] %> on <%= User.registered.count %></td>
      </tr>
    </table>

    <div class="friends">
      <% @friends.each do |user| %>
        <%= link_to image_tag(user.profile_picture, :width => "50"), user_path(user), :class => 'tips-users', :title => "#{user.name} - #{user.total_won_levels} levels", :alt => user.name %>
      <% end %>
    </div>

    <br/>

    <% if current_user && (@user.id == current_user.id || current_user.admin?) %>
      <div style="font-size: 12px;">
        <a href="/logout">Logout</a>
        &nbsp;|&nbsp;
        <a href="<%= user_path(@user) %>" style="color:red" data-confirm="Are you sure to destroy your account? All your solved levels will also be deleted. This operation will not be reversible." data-method="delete">Destroy my account</a>
      </div>
    <% end %>

    <% if Rails.env.development? %>
      <br/>
      <a href="?force_user_slug=<%= @user.slug %>">Impersonation</a>
    <% end %>
  </div>

  <div id="right-side">
    <div id="tabs">
      <% solve_active   = params[:action] == 'levels_to_solve'   ? 'active' : '' %>
      <% improve_active = params[:action] == 'scores_to_improve' ? 'active' : '' %>
      <% latest_active  = params[:action] == 'latest_levels'     ? 'active' : '' %>
      <% if current_user and current_user.id != @user.id %>
        <% u_u = UserUserLink.find_by_user_id_and_friend_id(current_user.f_id, @user.f_id) %>

        <div class="tab tips-top <%= solve_active %>" title="<%= _("Levels %{username} solved and not me" % { :username => @user.first_name }) %>">
          <%= link_to _("%{username} > Me" % { :username => @user.first_name }), levels_to_solve_user_path(@user) %>
          <% if u_u and (count = u_u.levels_to_solve_count) > 0 %>
            <div class="number">
              <%= count %>
            </div>
          <% end %>
        </div>
        <div class="tab tips-top <%= improve_active %>" title="<%= _("Levels where %{username} did a better score than me" % { :username => @user.first_name }) %>">
          <%= link_to _("%{username} ~ Me" % { :username => @user.first_name }), scores_to_improve_user_path(@user) %>
          <% if u_u and (count = u_u.scores_to_improve_count) > 0 %>
            <div class="number">
              <%= UserUserLink.find_by_user_id_and_friend_id(current_user.f_id, @user.f_id).scores_to_improve_count %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="tab tips-top <%= latest_active %>" title="<%= _("Latest levels solved by %{username}" % { :username => @user.first_name }) %>">
        <%= link_to _('Latests'), latest_levels_user_path(@user) %>
      </div>
      <div style="clear:both"></div>
    </div>

    <% @levels.each do |level| %>
      <a href="<%= pack_level_path(level.pack, level) %>">
        <div class="level level-<%= level.id %> tips-levels" title="<%= level.name %>" <%= level_datas(level) %>>
          <div id="level-<%= level.id %>-canvas">
          </div>
        </div>
      </a>
    <% end %>

    <% if @levels.empty? %>
      <div class="empty-list">
        <%= _('No levels in this category') %>
      </div>
    <% end %>
  </div>

  <div style="clear:both">
  </div>
</div>
