<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div id="limited-content">
  <h2>Users: <%= @total_users %> (<%= @total_friends %> friends)</h2>

  <% data = User.registered.where('registered_at > ?', Time.new(2013, 3))
                           .group_by_week(:registered_at).count %>
  <% end_date = data.keys.last %>
  <% extrapolation = (Time.now.utc - end_date) / 7.days.to_i %>
  <% data[data.keys.last] /= extrapolation %>
  <%= line_chart data %>

  <br/>
  <h2>Completed Levels: <%= @best_scores %> / <%= @total_scores %></h2>

  <% data =  LevelUserLink.where('created_at > ?', Time.new(2013, 3))
                           .group_by_week(:created_at).count %>
  <% end_date = data.keys.last %>
  <% extrapolation = (Time.now.utc - end_date) / 7.days.to_i %>
  <% data[data.keys.last] /= extrapolation %>
  <%= line_chart data %>

  <br/>
  <h2>Distribution of number of solved levels</h2>

  <%= column_chart @distribution %>

  <br/>
  <h2>Tasks</h2>

  <ul>
    <% @jobs.each do |job| %>
      <li><%= "#{job.attempts} attempts - #{job.queue} - last error : #{job.last_error}" %></li>
    <% end %>
    <li><%= @past_next_mailing_at %> pending mails</li>
    <li><%= @mails_by_week %> mails per week</li>
  </ul>

  <br/>
  <h2>Last 20 users</h2>

  <div>
    <% @last_users.each do |user| %>
      <div>
        <%= link_to image_tag(user.profile_picture, :width => '25px', :class => 'tips', :title => "#{user.name} - #{user.total_won_levels}"), user_path(user) %>
        |
        <%= user.name %>
        |
        <%= when_in_the_past(user.registered_at) %>
        |
        <%= user.total_won_levels %> completed levels
      </div>
    <% end %>
  </div>

  <br/>
  <h2>Last 100 completed levels</h2>

  <div>
    <% @last_scores.each do |score| %>
      <% user_picture = (score.user_id ? score.user.profile_picture : 'default_user.gif' )%>
      <% user_link = (score.user_id ? user_path(score.user) : '#') %>
      <% won_levels = score.user ? score.user.total_won_levels : 0 %>

      <div>
        <%= link_to image_tag(user_picture, :width => '25px', :class => 'tips', :title => "#{score.user_name} - #{won_levels}"), user_link %>
        |
        <%= score.user_name %>
        |
        <%= when_in_the_past(score.created_at) %>
        |
        <%= link_to "#{score.level.pack.name} / #{score.level.name}", pack_level_path(score.level.pack, score.level) %>
      </div>
    <% end %>
  </div>
</div>
