<div id="limited-content">

  <% @packs.each do |pack| %>
    <h2 style="font-weight:bold;display:inline"><%= pack.name %></h2>  / <%= pack.levels_count %> levels

    <div style="margin-top:10px;margin-bottom:30px">
      <table>
        <tr>
          <td><%= _("Filename") %></td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= link_to "#{pack.file_name}.slc", download_pack_path(pack) %></td>
        </tr>
        <tr>
          <td><%= _("Description") %></td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= pack.description %></td>
        </tr>
        <tr>
          <td><%= _("Email") %></td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= pack.email %></td>
        </tr>
        <tr>
          <td><%= _("Url") %></td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><a href="<%= pack.url %>"><%= pack.url %></a></td>
        </tr>
        <tr>
          <td><%= _("Copyright") %></td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= pack.copyright %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
