<%= javascript_include_tag 'packs/index' %>

<div id="limited-content">

  <h1>List of Sokoban levels</h1>

  <% @packs.each do |pack| %>
    <br/><br/>
    <div>
      <table>
        <tr>
          <td><strong>Name</strong></td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><h2><%= pack.name %></h2></td>
        </tr>
        <tr>
          <td>Filename</td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= pack.file_name %>.slc</td>
        </tr>
        <tr>
          <td>Description</td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= pack.description %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= pack.email %></td>
        </tr>
        <tr>
          <td>Url</td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><a href="<%= pack.url %>"><%= pack.url %></a></td>
        </tr>
        <tr>
          <td>Copyright</td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td><%= pack.copyright %></td>
        </tr>
        <tr>
          <td>Levels</td>
          <td style="padding-left:10px;padding-right:10px">:</td>
          <td>
            <% pack.levels.each_with_index do |level, index| %>
              <strong><h3><%= link_to level.name, pack_level_path(pack.name, level.name) %></h3></strong>
              <% if level.copyright.present? %>
                (copyright : <%= level.copyright %>)
              <% end %>
              <br/>
            <% end %>
          </td>
        </tr>

      </table>
    </div>
  <% end %>

  <a style="color:white" href="http://www.directoryworld.net/" target="_blank">Directory World</a>
  You can <a href="http://www.hotvsnot.com/Add-Site/Add-Site.aspx">add URL</a> to  improve your website reputation We added our URL under <a href="http://www.hotvsnot.com/Games/Video_Games/Puzzle/">Puzzle Directory </a>
</div>
