<%= javascript_include_tag 'packs/show' %>

<div id="menu-levels">
  <div id="packs" data-pack-name="<%= @pack.name %>">
    <select>
      <% Pack.all.each do |pack| %>
        <option value="<%= CGI::unescape(pack.name) %>" <%= 'selected="selected"' if pack.id == @pack.id %>><%= pack.name %></option>
      <% end %>
    </select>
    
    <div class="packs-button">
      <a href="<%= packs_path %>"><i class="icon-th"></i></a>
    </div>
  </div>
  
  <ul id="levels" class="levels">
    <% won_levels_ids = @pack.won_levels_ids(current_user) %>  
    <% @pack.levels.each_with_index do |level, index| %>
      <% selected = (@selected_level_name == level.name ? 'class="is-selected"' : '') %>
      <li <%= selected.html_safe %> id="level-<%= level.id %>" data-level-name="<%= level.name %>" data-level-grid="<%= level.inline_grid_with_floor %>" data-level-width="<%= level.width %>" data-level-height="<%= level.height %>">
        <% if won_levels_ids.include?(level.id) %>
          <span class="star icon-star"></span>
        <% else %>
          <span class="star icon-star-empty"></span>
        <% end %>
        <span class="level-index"><%= index+1 %></span>
      </li>
    <% end %>
  </ul>
</div>

<div class="level-thumb" data-level-grid="" data-level-width="" data-level-height="">
  <div id="level-thumb-canvas"></div>
</div>

<%= render 'packs/show_webgl_canvas' %>
<%= render 'packs/show_raphael_canvas' %>
<%= render 'packs/show_deadlock_message'%>

<%= render 'packs/current_score' %>

<div style="clear:both"></div>

<div id="invitations">
  <%# render 'users/popular_friends' %>
</div>

<div id="scores">
  <%= render 'level_user_links/index' %>
</div>