<%= javascript_include_tag 'packs/show' %>

<div id="limited-content">
  <div id="menu-levels">
    <div id="packs" data-pack-name="<%= @pack.name %>">
      <select>
        <% Pack.all.each do |pack| %>
          <option value="<%= CGI::unescape(pack.name) %>" <%= 'selected="selected"' if pack.id == @pack.id %>><%= pack.name %></option>
        <% end %>
      </select>

      <div class="packs-button">
        <a href="#">Challenge</a>
      </div>
      <div class="clear">&nbsp;</div>
    </div>

    <ul id="levels" class="levels">
      <% won_level_ids = @pack.won_level_ids(current_user) %>
      <% @pack.levels.each_with_index do |level, index| %>
        <% selected = (@level.name == level.name ? 'class="is-selected"' : '') %>
        <li <%= selected.html_safe %> id="level-<%= level.id %>" data-level-id="<%= level.id %>" data-level-name="<%= level.name %>" data-level-grid="<%= level.inline_grid_with_floor %>" data-level-width="<%= level.width %>" data-level-height="<%= level.height %>" data-level-thumb="<%= level.thumb %>">
          <% if won_level_ids.include?(level.id) %>
            <span class="star s-icon-star"></span>
          <% else %>
            <span class="star s-icon-star-empty"></span>
          <% end %>
          <span class="level-index"><%= index+1 %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="level-thumb" data-level-grid="" data-level-width="" data-level-height="">
    <div class="level-thumb-in">
      <div id="level-thumb-canvas"></div>
    </div>
  </div>

  <%= render 'packs/show_game' %>
  <%= render 'packs/show_deadlock_message'%>
</div>

<div id="limited-content-xl">
  <%= render 'users/challenges' %>

  <div id="scores">
    <%= render 'level_user_links/index' %>
  </div>
</div>




