<%= javascript_include_tag 'packs/show' %>

<div id="limited-content">

  <%= render 'layouts/google_adsense' %>

  <div id="menu-levels">
    <div id="current-level-name">
      <h3><a class="tips" href="<%= pack_level_url(@pack.name, @level.name) %>"
                          title="<%= "#{@level.pack.description} (#{@level.pack.copyright})" %>"><%= @level.name %></a></h3>
    </div>

    <div id="packs" data-pack-name="<%= u(@pack.name) %>"
                    data-pack-real-name="<%= @pack.name %>"
                    data-pack-id="<%= @pack.id %>">
      <select>
        <% pack_user_links = current_user ? PackUserLink.where(:user_id => current_user.id).all : [] %>
        <% Pack.all.each do |pack| %>
          <% pack_user_link     = pack_user_links.select { |p_u| p_u.pack_id == pack.id } %>
          <% pack_success_count = pack_user_link.empty? ? 0 : pack_user_link.first.won_levels_count %>
          <% pack_levels_count  = pack.levels_count %>
          <% pack_success       = "[#{pack_success_count}/#{pack_levels_count}]" %>
          <option value="<%= pack.name %>" <%= 'selected=selected' if pack.id == @pack.id %>><%= pack.name %> <%= pack_success %></option>
        <% end %>
      </select>

      <div class="packs-button">
        <a class="tips" title="Can you solve this level?" href="#">Challenge</a>
      </div>
      <div class="clear">&nbsp;</div>
    </div>

    <ul id="levels" class="levels">
      <% won_level_ids = @pack.won_level_ids(current_user) %>
      <% @pack.levels.each_with_index do |level, index| %>
        <% selected = (@level.name == level.name ? 'class="is-selected"' : '') %>
        <li <%= selected.html_safe %> id="level-<%= level.id %>" data-level-id="<%= level.id %>"
                                                                 data-level-name="<%= u(level.name) %>"
                                                                 data-level-grid="<%= level.inline_grid_with_floor %>"
                                                                 data-level-width="<%= level.width %>"
                                                                 data-level-height="<%= level.height %>"
                                                                 data-level-thumb="<%= level.thumb %>"
                                                                 data-level-real-name="<%= level.name %>"
                                                                 data-level-copyright="<%= level.copyright %>">
          <a href="<%= pack_level_path(@pack.name, level.name) %>" title="<%= level.name %>">
            <% if won_level_ids.include?(level.id) %>
              <span class="star s-icon-star"></span>
            <% else %>
              <span class="star s-icon-star-empty"></span>
            <% end %>
            <span class="level-index"><%= index+1 %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="level-thumb" data-level-grid="" data-level-width="" data-level-height="">
    <div class="level-thumb-in">
      <div id="level-thumb-canvas"></div>
    </div>
  </div>

  <%= render 'packs/show_game' %>
  <%= render 'packs/show_deadlock_message'%>
</div>

<div id="limited-content-xl">
  <%= render 'users/challenges' %>

  <div id="scores">
    <%= render 'level_user_links/index' %>
  </div>
</div>




