<%= javascript_include_tag 'packs/show' %>

<div id="limited-content">

  <%= render 'layouts/advert_body' %>

  <div id="menu-levels">
    <div id="current-level-name" itemscope itemtype="http://schema.org/Thing">
      <a href="<%= pack_level_url(@pack, @level) %>" itemprop="url">
        <h3 itemprop="name"><%= @level.name %></h3>
      </a>
    </div>
    <div id="current-level-description" itemprop="description">
      <%= "#{@level.pack.description} (#{@level.pack.copyright})" %>
    </div>
    <img id="current-level-image" itemprop="image" src="<%= @level.thumb %>"/>

    <div id="packs" data-pack-slug="<%= @pack.slug %>"
                    data-pack-name="<%= @pack.name %>"
                    data-pack-id="<%= @pack.id %>">
      <select>
        <% pack_user_links = current_user ? PackUserLink.where(:user_id => current_user.id).all : [] %>
        <% Pack.all.each do |pack| %>
          <% pack_user_link     = pack_user_links.select { |p_u| p_u.pack_id == pack.id } %>
          <% pack_success_count = pack_user_link.empty? ? 0 : pack_user_link.first.won_levels_count %>
          <% pack_levels_count  = pack.levels_count %>
          <% pack_success       = "[#{pack_success_count}/#{pack_levels_count}]" %>
          <option value="<%= pack.slug %>" <%= 'selected=selected' if pack.id == @pack.id %>><%= pack.name %> <%= pack_success %></option>
        <% end %>
      </select>

      <div class="packs-button">
        <a class="tips" title="<%= _("Can you solve this level?") %>" href="#"><%= _("Challenge") %></a>
      </div>
      <div class="clear">&nbsp;</div>
    </div>

    <ul id="levels" class="levels">
      <% won_level_ids = @pack.won_level_ids(current_user) %>
      <% @pack.levels.each_with_index do |level, index| %>
        <% selected = (@level.name == level.name ? 'class="is-selected"' : '') %>
        <li <%= selected.html_safe %> id="level-<%= level.id %>" <%= level_datas(level) %>>
          <a href="<%= pack_level_path(@pack, level) %>" title="<%= level.name %>">
            <% if won_level_ids.include?(level.id) %>
              <span class="star s-icon-star"></span>
            <% else %>
              <span class="star s-icon-star-empty"></span>
            <% end %>
            <span class="level-index"><%= index+1 %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="level-thumb" data-level-grid="" data-level-width="" data-level-height="">
    <div class="level-thumb-in">
      <div id="level-thumb-canvas"></div>
    </div>
  </div>

  <%= render 'packs/show_game' %>
</div>

<div id="limited-content-xl">
  <%= render 'users/challenges' %>

  <div id="scores">
    <%= render 'level_user_links/index' %>
  </div>
</div>




