<% if params[:controller] == 'users' and params[:action] == 'index' %>

  <div id="banner">
    <div id="limited-banner" class="banner-text">
      <h3>
        <% if not current_user %>
          <%= _("Global Ranking : %{user_num} users solved %{level_num} levels" % { :user_num => User.registered.count, :level_num => LevelUserLink.count }) %>
        <% else %>
          <% if params[:type] == 'global' %>
            <%= _("Global Ranking") %>  : <%= @ladder[:top_users_position] %> / <%= User.registered.count %>
          <% else %>
            <%= _("Friends Ranking") %> : <%= @ladder[:top_friends_position] %> / <%= @ladder[:top_friends].count %>
          <% end %>
        <% end %>
      </h3>
    </div>
  </div>

<% elsif params[:controller] == 'users' and params[:action].in? %w(show latest_levels levels_to_solve scores_to_improve) %>

  <div id="banner">
    <div id="limited-banner" class="banner-text">
      <h3>
        <%= @user.name %>
      </h3>
    </div>
  </div>

<% elsif not current_user %>

  <div id="banner">
    <div id="limited-banner" class="banner-text">
      <h3><%= _("Play Sokoban and Challenge your Friends") %></h3>
    </div>
  </div>

<% else %>

  <div id="banner" class="banner-friends">
    <div id="limited-banner">

      <%= render 'layouts/fb_friend_ids' %>

      <ul id="users-top">
        <% if @pack %>
          <% subscribed_friends_and_me = current_user.subscribed_friends_and_me(@pack).take(15) %>
          <% u_u_links = UserUserLink.where(:user_id => current_user.f_id, :friend_id => subscribed_friends_and_me.collect(&:f_id)) %>
          <% array_counts = u_u_links.collect { |u_u| [ u_u.friend_id, u_u.total_improve_count ] }.flatten %>
          <% hash_counts  = Hash[*array_counts] %>

          <% subscribed_friends_and_me.each do |friend| %>
            <li>
              <a href="<%= user_path(friend) %>">
                <%= image_tag friend.profile_picture, 'data-f_id' => friend.f_id, :class => 'facebook-friends' %>

                <span style="display:none" data-user-id="<%= friend['user_id'] ? friend.user_id : friend.id %>"
                                           data-user-name="<%= friend.name %>"
                                           data-user-gender="<%= friend.gender %>"
                                           data-local-success="<%= friend['won_levels_count'] ? friend.won_levels_count : 0 %>"
                                           data-global-success="<%= friend.total_won_levels %>">
                  <% # won levels ids of current pack OR every won levels id %>
                  <%= friend['won_levels_list'] ? friend.won_levels_list : '' %>
                </span>
              </a>
              <% if current_user.f_id != friend.f_id %>
                <div class="number">
                  <%= hash_counts[friend.f_id] %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>

        <li>
          <a href="#">
            <%= image_tag 'add_friend.png', :id => 'add-one-friend', :class => 'tips popup', :title => _('Challenge one friend on this level') %>
          </a>
        </li>

        <li>
          <a href="#">
            <%= image_tag 'add_friends.png', :id => 'add-more-friends', :class => 'tips popup', :title => _('Invite more friends') %>
          </a>
        </li>

        <li>
          <a href="#">
            <%= image_tag 'add_wall.png', :id => 'share-on-wall', :class => 'tips popup', :title => _('Share the current level on your Facebook feed') %>
          </a>
        </li>
      </ul>

    </div>
  </div>

  <div id="user-hover">
    <div class="user-hover-in">
      <div class="user-name">...</div>
      <div class="user-stars">
        <div class="user-stars-pack">
          <span class="star icon-star"></span>
          <span class="num">...</span>
          <span><%= _("In this pack") %></span>
        </div>
        <div class="user-stars-total">
          <span class="star icon-star"></span>
          <span class="num">...</span>
          <span><%= _("Total") %></span>
        </div>
      </div>
      <div class="user-challenge-this">
        <%= link_to _("CLICK TO SEE HIS SCORES"), '#', 'data-male'   => _("CLICK TO SEE HIS SCORES"),
                                                       'data-female' => _("CLICK TO SEE HER SCORES") %>
      </div>
    </div>
  </div>

<% end %>
