
<% if params[:controller] == 'users' && params[:action] == 'index' %>

  <% banner_class = 'banner-text' %>

  <% if !current_user %>
    <% text = _("Global Ranking : %{user_num} users solved %{level_num} levels" % { :user_num => User.registered.count, :level_num => LevelUserLink.count }) %>
  <% else %>
    <% if params[:type] == 'global' %>
      <% text = _("Global Ranking") + ' : ' +  @ladder[:top_users_position].to_s + ' / ' + User.registered.count.to_s %>
    <% else %>
      <% text = _("Friends Ranking") + ' : ' + @ladder[:top_friends_position].to_s + ' / ' + @ladder[:top_friends].count.to_s %>
    <% end %>
  <% end %>

<% elsif params[:controller] == 'users' && params[:action].in?(%w(show latest_levels levels_to_solve scores_to_improve)) %>

  <% banner_class = 'banner-text' %>
  <% text = @user.name %>

<% elsif params[:controller] == 'packs' && params[:action] == 'index' %>

  <% banner_class = 'banner-text' %>
  <% text = _("List of Packs & Copyright") %>

<% elsif !current_user && !@pack && !@level %>

  <% banner_class = 'banner-text' %>
  <% text = _("Play Sokoban and Challenge your Friends") %>

<% elsif !current_user && @pack && @level %>

  <% banner_class = 'banner-text' %>
  <% text = @pack.name %>

<% else %>

  <% banner_class = 'banner-friends' %>

<% end %>


<div id="banner" class="<%= banner_class %>">
  <div id="limited-banner">
    <% if banner_class == 'banner-text' %>

      <h1><%= text %></h1>

      <div id="current-level-description" itemprop="description">
        <%= "#{@level.pack.description} (#{@level.pack.copyright})" %>
      </div>

    <% elsif banner_class == 'banner-friends' %>

      <%= render 'layouts/fb_friend_ids' %>

      <ul id="users-top">
        <% if @pack %>
          <% subscribed_friends_and_me = current_user.subscribed_friends_and_me(@pack).take(16) %>
          <% u_u_links = UserUserLink.where(:user_id => current_user.f_id, :friend_id => subscribed_friends_and_me.collect(&:f_id)) %>
          <% array_counts = u_u_links.collect { |u_u| [ u_u.friend_id, u_u.total_improve_count ] }.flatten %>
          <% hash_counts  = Hash[*array_counts] %>

          <% subscribed_friends_and_me.each do |friend| %>
            <li>
              <a href="<%= user_path(friend) %>">
                <%= image_tag friend.profile_picture, 'data-f_id' => friend.f_id, :class => 'facebook-friends' %>

                <span style="display:none" data-user-id="<%= friend['user_id'] ? friend.user_id : friend.id %>"
                                           data-user-name="<%= friend.name %>"
                                           data-user-gender="<%= friend.gender %>"
                                           data-local-success="<%= friend['won_levels_count'] ? friend.won_levels_count : 0 %>"
                                           data-global-success="<%= friend.total_won_levels %>">
                  <% # won levels ids of current pack OR every won levels id %>
                  <%= friend['won_levels_list'] ? friend.won_levels_list : '' %>
                </span>
              </a>
              <% if current_user.f_id != friend.f_id and hash_counts[friend.f_id] > 0 %>
                <div class="number">
                  <%= hash_counts[friend.f_id] %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>

<!--         <li>
          <a href="#">
            <%= image_tag 'add_friend.png', :id => 'add-one-friend', :class => 'tips popup', :title => _('Challenge one friend on this level') %>
          </a>
        </li> -->

        <li>
          <a href="#">
            <%= image_tag 'add_friends.png', :id => 'add-more-friends', :class => 'tips popup', :title => _('Invite more friends') %>
          </a>
        </li>

        <li>
          <a href="#">
            <%= image_tag 'add_wall.png', :id => 'share-on-wall', :class => 'tips popup', :title => _('Share the current level on your Facebook feed') %>
          </a>
        </li>
      </ul>

    <% end %>
  </div>
</div>

<% if banner_class == 'banner-friends' %>
  <div id="user-hover">
    <div class="user-hover-in">
      <div class="user-name">...</div>
      <div class="user-stars">
        <div class="user-stars-pack">
          <span class="star icon-star"></span>
          <span class="num">...</span>
          <span><%= _("In this pack") %></span>
        </div>
        <div class="user-stars-total">
          <span class="star icon-star"></span>
          <span class="num">...</span>
          <span><%= _("Total") %></span>
        </div>
      </div>
      <div class="user-challenge-this">
        <%= link_to _("CLICK TO SEE HIS SCORES"), '#', 'data-male'   => _("CLICK TO SEE HIS SCORES"),
                                                       'data-female' => _("CLICK TO SEE HER SCORES") %>
      </div>
    </div>
  </div>
<% end %>

