<%= link_to "Terms of Service", '/terms_of_service' %>
|
<%= link_to "Privacy Policy", '/privacy_policy' %>
|
<%= link_to "Packs & Levels Copyright", '/packs' %>
|
<% if current_user and current_user.admin? %>
  <%= link_to "Stats", '/stats' %>
  |
<% end %>
<%= link_to "Contact us", 'mailto:contact@sokoban-game.com' %>

<br/>

You can <a href="http://www.hotvsnot.com/Add-Site/Add-Site.aspx">add URL</a> to  improve your website reputation We added our URL under <a href="http://www.hotvsnot.com/Games/Video_Games/Puzzle/">Puzzle Directory </a>

<br/>

<a href="http://www.directoryworld.net/" target="_blank">Directory World</a>
