<header class="header">
  <div id="limited-header">

    <div id="title">
      <h1><%= link_to 'Sokoban', :root %></h1>
      <h2>Free, Online and Social Puzzle Game</h2>
    </div>

    <div id="menus">
      <ul>
        <% if not current_user %>
          <li class="ranking-menu">
            <div>
              <%= link_to _('Rankings'), rankings_path %>
            </div>
          </li>
        <% end %>

        <% if current_user %>
          <li class="name fb_logged" id="user-infos" data-id="<%= current_user.id %>"
                                                     data-global-success="<%= current_user.total_won_levels %>"
                                                     data-like-facebook-page="<%= current_user.like_fan_page %>"
                                                     data-registered-friends="<%= current_user.friends.registered.count %>"
                                                     data-display-invite-popup="<%= current_user.display_friends_invite_popup? %>"
                                                     data-won-levels-list="<%= PackUserLink.find_by_pack_id_and_user_id(@pack.id, current_user.id).try(:won_levels_list) %>">
            <div>
              <a class="fb_img" href="<%= user_path(current_user) %>">
                <%= image_tag current_user.profile_picture, :title => current_user.name %>
              </a>
              <a href="<%= user_path(current_user) %>"><%= current_user.name %></a>
            </div>
          </li>
        <% else %>
          <li class="name fb-login">
            <div>
              <a href="/connect_facebook"><%= _('Login with Facebook') %></a>
            </div>
          </li>
        <% end %>

        <!---
        <li class="challenges-menu"><i class="icon-trophy"></i>&nbsp;Challenges</li>
        <li class="packs-menu is-selected"><i class="icon-star"></i>&nbsp;Packs</li>
        -->

        <% if current_user %>
          <li class="ranking-position">
            <div>
              <% @ladder_positions = current_user.ladder_positions %>
              <%= link_to "#{@ladder_positions[:top_users_position]} / #{User.registered.count}", rankings_path %>
            </div>
          </li>
        <% end %>

        <li class="rules-menu">
          <div><%= _("Rules") %></div>
        </li>
      </ul>
    </div>

    <% if not current_user %>
      <div id="likes">
        <div class="fb-like" data-href="https://www.facebook.com/sokoban.game" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>

        <!--

        <div class='twitter-like'>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sokoban-game.com" data-text="Come and Play this Sokoban Game with Me !" data-hashtags="sokoban">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="gplus-like">
          <div class="g-plusone" data-size="medium" data-href="http://sokoban-game.com"></div>
        </div>

        -->
      </div>
    <% end %>

  </div>
</header>
