<header class="header">
  <div id="limited-header">

    <div id="title">
      <h1><%= link_to 'Sokoban', :root %></h1>
    </div>

    <div id="menus">
      <ul>
        <% if current_user %>
          <li class="name fb_logged" id="user-infos" data-id="<%= current_user.id %>" data-global-success="<%= current_user.total_won_levels %>" data-like-facebook-page="<%= current_user.like_fan_page %>">
            <div>
              <span class="fb_img">
                <%= image_tag current_user.profile_picture, :title => current_user.name %>
              </span>
              <span><%= current_user.name %></span>
            </div>
          </li>
        <% else %>
          <li class="name fb_login">
            <div>
              <a href="/auth/facebook">Login with Facebook</a>
            </div>
          </li>
        <% end %>

        <!---
        <li class="challenges-menu"><i class="icon-trophy"></i>&nbsp;Challenges</li>
        <li class="packs-menu is-selected"><i class="icon-star"></i>&nbsp;Packs</li>
        -->

        <li class="rules-menu">
          <div>Rules</div>
        </li>
      </ul>
    </div>

    <!--
    <div id="likes">
      <div class="fb-like" data-href="http://www.sokoban.be" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false">
      </div>

      <div class='twitter-like'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sokoban.be" data-text="Come and Play this Sokoban Game with Me !" data-hashtags="sokoban">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

      <div class="gplus-like">
        <div class="g-plusone" data-size="medium" data-href="http://www.sokoban.be"></div>
      </div>
    </div>
    -->

  </div>
</header>
