<!DOCTYPE html>
<html lang="en" prefix="fb: http://www.facebook.com/2008/fbml">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sokoban_game: http://ogp.me/ns/fb/sokoban_game#">
    <title>
      <% if yield(:title).present? %>
        <%= yield(:title) %>
      <% elsif @level %>
        <%= "#{@level.pack.name} - #{@level.name}" %>
      <% elsif @user %>
        <%= "#{@user.name} - #{@user.total_won_levels} " + _('levels solved') %>
      <% else %>
        <%= "Sokoban - " + _("Free and Social Puzzle Game") %>
      <% end %>
    </title>
    <meta charset="UTF-8" />
    <meta name="author" content="Michaël Hoste">

    <% if yield(:title).present? %>
      <% description = yield(:description) %>
    <% elsif @level %>
      <% description = "#{@level.pack.file_name}.slc | #{@level.name} (#{@level.pack.description}.slc - #{@level.pack.copyright} - #{@level.pack.email} - #{@level.pack.url})" %>
    <% elsif @user %>
      <% description = "Profile of #{@user.name} - #{@user.total_won_levels} " + _('levels solved') %>
    <% else %>
      <% description = "Sokoban is a puzzle-game in which the player pushes boxes around in a warehouse, trying to get them to storage locations." %>
    <% end %>
    <meta name="description" content="<%= description %>" />

    <% if yield(:title).present? %>
      <% add_keywords = yield(:keywords) + ', ' %>
    <% elsif @level %>
      <% add_keywords = "#{@level.name}, #{@level.pack.name}, " %>
    <% elsif @user %>
      <% add_keywords = "#{@user.name}, " %>
    <% else %>
      <% add_keywords = "" %>
    <% end %>
    <meta name="keywords" content="<%= add_keywords + _("sokoban, social, online, free, pushes, moves, puzzle, game, levels, packs, challenge, friends") %>" />
    <meta name="referrer" content="always">
    <link rel="shortcut icon" href="/favicon.gif">

    <% if @level %>
      <meta property="fb:app_id"               content="<%= ENV['FACEBOOK_APP_ID'] %>" />
      <meta property="og:type"                 content="sokoban_game:level" />
      <meta property="og:url"                  content="<%= pack_level_url(@level.pack, @level) %>" />
      <meta property="og:title"                content="<%= @level.name %>" />
      <meta property="og:description"          content="Pack : <%= @level.pack.name.gsub(/\n/," ").gsub(/\r/," ") %> | <%= @level.pack.description.gsub(/\n/," ").gsub(/\r/," ") %>" />
      <meta property="og:image"                content="<%= @level.thumb %>" />
      <meta property="sokoban_game:level_name" content="<%= @level.name %>" />
      <meta property="sokoban_game:pack_name"  content="<%= @level.pack.name %>" />
    <% end %>

    <%= render 'layouts/google_analytics_headers' %>
    <%# render 'layouts/advert_headers' %>
    <%= render 'layouts/delayed_javascript' %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700|Ubuntu:700' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>

  <% new_user = cookies[:already_read_the_welcome_message] ? '0' : '1' %>
  <body id="<%= "#{params[:controller]}-#{params[:action]}" %>" data-new-user="<%= new_user %>">

    <%= render 'layouts/facebook_headers' %>
    <%# render 'layouts/googleplus_headers' %>
    <%# render 'layouts/advert_success' %>

    <%# render 'layouts/github_banner' %>
    <%= render "layouts/header" %>
    <%= render "layouts/banner" %>

    <div id="content">
      <%= yield %>
    </div>

    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>

