<!DOCTYPE html>
<html>
  <head>
    <title>Sokoban</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag 'jax/application' %>
    <%= javascript_include_tag 'jax/runtime' %>
    <%= javascript_include_tag 'jax/controller-list' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <a href="https://github.com/MichaelHoste/sokoban">
      <img style="position:absolute;top:0;right:0;border:0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>
    
    <%= render :template => "layouts/header" %>
    <%= render :template => "layouts/banner" %>
    
    <div id="content">
      <div id="limited-content">
        <%= yield %>
      </div>
    </div>
  
  </body>
</html>
