<!DOCTYPE html>
<html>
  <head>
    <title>Sokoban</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    
    <%= javascript_include_tag "application_start" %>
    <%= javascript_include_tag 'jax/application' %>
    <%= javascript_include_tag 'jax/runtime' %>
    <%= javascript_include_tag 'jax/controller-list' %>
    <%= javascript_include_tag "application_end" %>

    <%= csrf_meta_tags %>
    
    <%= render :template => 'layouts/google_analytics_headers' %>
  </head>
  
  <% new_user = (not session[:user_id] and not cookies[:already_read_the_welcome_message]) ? '1' : '0' %>
  <% new_user = 1 %>
  <body data-new-user="<%= new_user %>">
    <%= render :template => 'layouts/facebook_headers' %>
    <%= render :template => 'layouts/googleplus_headers' %>
    
    <%= render :template => 'layouts/github_banner' %>
    <%= render :template => "layouts/header" %>
    <%= render :template => "layouts/banner" %>
    
    <div id="content">
      <div id="limited-content">
        <%= yield %>
      </div>
      <!-- With this "trick", the main div stretch to adapt itself to the two floating div (features and new user) -->
      <div style="clear:both"></div>
    </div>
  </body>
</html>
