<html>
<body>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div id="limited-content">
  <strong>Users</strong> : <%= @total_users %> (<%= @total_friends %> amis)

  <%= line_chart User.registered.where('registered_at > ?', Time.new(2013, 3))
                                .group_by_week(:registered_at).count %>

  <%# line_chart User.registered.where('registered_at > ?', Time.new(2013, 3))
                                .group_by_day(:registered_at).count %>

  <br/><br/>

  <strong>Completed Levels</strong> : <%= @best_scores %> / <%= @total_scores %>

  <%= line_chart LevelUserLink.where('created_at > ?', Time.new(2013, 3))
                              .group_by_week(:created_at).count %>

  <%# line_chart LevelUserLink.where('created_at > ?', Time.new(2013, 3))
                              .group_by_day(:created_at).count %>

  <br/>

  <strong>Tasks</strong>

  <ul>
    <% @jobs.each do |job| %>
      <li><%= "#{job.attempts} attempts - #{job.queue} - last error : #{job.last_error}" %></li>
    <% end %>
    <li><%= @past_next_mailing_at %> pending mails</li>
  </ul>

  <br/>

  <strong>Last 20 users</strong> :

  <div>
    <% @last_users.each do |user| %>
      <div>
        <%= link_to image_tag(user.profile_picture, :width => '25px', :class => 'tips', :title => "#{user.name} - #{user.total_won_levels}"), user.f_link %>
        |
        <%= user.name %>
        |
        <%= when_in_the_past(user.registered_at) %>
        |
        <%= user.total_won_levels %> completed levels
      </div>
    <% end %>
  </div>

  <br/><br/>

  <strong>Last 100 completed levels</strong> :

  <div>
    <% @last_scores.each do |score| %>
      <% user_picture = (score.user_id ? score.user.profile_picture : 'default_user.gif' )%>
      <% user_link = (score.user_id ? score.user.f_link : '#') %>
      <% won_levels = score.user ? score.user.total_won_levels : 0 %>

      <div>
        <%= link_to image_tag(user_picture, :width => '25px', :class => 'tips', :title => "#{score.user_name} - #{won_levels}"), user_link %>
        |
        <%= score.user_name %>
        |
        <%= when_in_the_past(score.created_at) %>
        |
        <%= link_to "#{score.level.pack.name} / #{score.level.name}", "/packs/#{URI.escape(score.level.pack.name)}/levels/#{URI.escape(score.level.name)}" %>
      </div>
    <% end %>
  </div>

  <br/><br/>
</div>
</body>
</html>
