<div id="limited-content">
  <strong>Users</strong> : <%= @total_users %> (<%= @total_friends %> amis)

  <br/><br/>

  <strong>Completed Levels</strong> : <%= @best_scores %> / <%= @total_scores %>

  <br/><br/>

  <strong>Last 10 connections</strong> :

  <div>
    <% @last_users.each do |user| %>
      <div>
        <%= link_to image_tag(user.profile_picture, :width => '25px', :class => 'tips', :title => "#{user.name} - #{user.total_won_levels}"), user.f_link %>
        |
        <%= user.name %>
        |
        <%= when_in_the_past(user.updated_at) %>
        |
        <%= user.total_won_levels %> completed levels
      </div>
    <% end %>
  </div>

  <br/><br/>

  <strong>Last 100 completed levels</strong> :

  <div>
    <% @last_scores.each do |score| %>
      <% user_picture = (score.user_id ? score.user.profile_picture : 'default_user.png' )%>
      <% user_link = (score.user_id ? score.user.f_link : '#') %>
      <% won_levels = score.user ? score.user.total_won_levels : 0 %>

      <div>
        <%= link_to image_tag(user_picture, :width => '25px', :class => 'tips', :title => "#{score.user_name} - #{won_levels}"), user_link %>
        |
        <%= score.user_name %>
        |
        <%= when_in_the_past(score.created_at) %>
        |
        <%= link_to "#{score.level.pack.name} / #{score.level.name}", "/packs/#{URI.escape(score.level.pack.name)}/levels/#{URI.escape(score.level.name)}" %>
      </div>
    <% end %>
  </div>

  <br/><br/>
</div>
